body{
	font-size: 16px;
	color: #fff;
	background-color: #FFC300;
	font-family: 'Oxygen', sans-serif;
}

#header-nav{
	background-color: #FF5733;
	border-radius: 0;
	border: 1px solid black;
	height: 53px;
}

.navbar-brand{
	padding-top: 10px;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #2E5CDA;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
	margin-top: -5px;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:active{
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #0036CC;
}

#collapsable-nav{
	background-color:  #FF5733;
}

#collapsable-nav ul li a{
	color: #FFC300;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FF5733;
}

#chicken, #sushi, #beef{
	border: 1px solid black;
	margin: 10px 0;
	color: #004d00;
}

#chicken h4, #sushi h4, #beef h4{
	color: #cc0000
}

#main-content header h3{
	color: black;
}

@media (max-width: 767px) {
    #main-content{
    	margin-top: 120px;
    }
}

